<html lang="en" class="overflow-x-hidden">
<%- include("../partials/header.ejs") %>

<body class="bg-light-off text-gray-700 font-body font-semibold">

    <%- include("../partials/nav.ejs") %>

    <div class="p-14">       
        <div class="create-drama">
            <form action="/all" method="POST" enctype="multipart/form-data" autocomplete="off">
                <label class="text-lg pb-2">Add a New Drama..</label>
                <label for="title">Drama Title</label>
                <input type="text" name="title" id="title" required>
                <label for="stars">Drama Review</label>
                <input type="number" min="1" max="5" name="stars" id="stars" 
                placeholder="Enter out of 5 stars" required>
                <label for="year">Drama Year</label>
                <input type="number" min="1970" max="2022" name="year" id="year" required>
                <label for="episodes">Drama Episodes</label>
                <input type="number" min="1" name="episodes" id="episodes" required>
                <label for="status">Select Drama Status</label>
                <select id="status" name="status">
                    <option value="Watched">Watched</option>
                    <option value="Watching">Watching</option>
                    <option value="To Watch">To Watch</option>
                </select>
                <label for="uploaded_image">Upload Drama Cover</label>
                <input type="file" name="uploaded_image">
                <label for="synopsis">Drama Synopsis</label>
                <textarea rows="4" name="synopsis" id="synopsis">This happened.. so the male lead did this.. and met the female lead.. then that happened.. so then they went there and met them.. them were not good.. but they changed them.. and now there is all good.</textarea>     
                <button>Submit</button>                
            </form>
        </div>
    </div>
    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>

</body>
</html>