<div class="p-3 bg-dark-navy text-light-off">
    <div class="flex justify-between p-5 nav_container">
        <div class="watcher_head">
            <h1 class="text-3xl font-bold font-titleFont"><a href="/all">The Watcher.</a></h1>
        </div>
        <ul class="md:flex font-semibold font-body">
            <li>
                <span><a href="/all" class="nav-list pb-2">All</a></span>
            </li>
            <li>
                <span><a href="/watchedList" class="nav-list pb-2">Watched</a></span>
            </li>
            <li>
                <span><a href="/2watchList" class="nav-list pb-2">2Watch</a></span>
            </li>
            <li>
                <span><a href="/watchingList" class="nav-list pb-2">Watching</a></span>
            </li>
        </ul>
    </div>    
</div>