<div class="text-center">
    <form class="p-2"  action="/all/findDrama" method="GET">
        <input type="text" name="title" class="text-dark-navy px-4 py-2 w-20 md:w-96 rounded-lg" 
         placeholder="Search all KDramas">
        <button 
        class="searchSubmit bg-dark-navy text-light-off
        hover:bg-white hover:text-dark-navy rounded-md p-2"
        type="submit">
            GO
        </button>
    </form>
</div> 